@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.app-section-padding{
    padding: 100px 0px;
}
.app-section-padding-small{
    padding: 70px 0px;
}
/* Header Start */
.app-wrapper {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    min-height: calc(100vh - 550px) !important; 
}

@media(max-width: 767px) {
    .app-wrapper .sections{
        text-align: center;
    }
}

.logged-dropdown .btn-secondary{
    background-color: #0076d4 !important;
    border: none;
}

/* Header End */

/* Section 1 Start*/


/* Section 1 End*/


